<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
    <div th:replace="fragments :: navBar"></div>

    <div class="w3-content w3-container w3-padding-64">
    <form method="post" th:action="@{/blog/add}">
        <fieldset>
            <legend><h3 class="w3-center">Add a new blog post here.</h3></legend>

            <!--TITLE-->
            <div>
                <input type="text" name="title" placeholder="Title" th:attr="value=${title}" required>
                <span><p th:text="${title_error}" class="error"></p></span>
            </div>

            <!--DESCRIPTION-->
            <div>
                <textarea name="description" placeholder="Blog Post Description" rows="3" th:attr="value=${description}"></textarea>
                <span><p th:text="${description_error}" class="error"></p></span>
            </div>

            <!--SNIPPET-->
            <div>
                <input type="text" name="snippet" placeholder="Snippet" th:attr="value=${snippet}">
                <span><p th:text="${snippet_error}" class="error"></p></span>
            </div>

            <!--IMAGE-->
<!--            <div>-->
<!--                <input type="file" name="image" accept="image/*">-->
<!--            </div>-->

            <input type="submit" value="Add Blog Post">
        </fieldset>
    </form>
</div>
</body>
</html>