<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments :: head"></head>

<body>

<!-- Navbar (sit on top) -->
<div th:replace="fragments :: navBar"></div>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Kenny's Blog</h1>
        <p class="lead" th:unless="${blogPosts} and ${blogPosts.size()}">No Posts Yet. Sorry!</p>
    </div>
    <div class="row">
        <div class="col-6 col-md-4" th:each="blogPost : ${blogPosts}">
            <div class="card mt-5">
                <div class="card-body">
                    <h5 class="card-title"><a th:href="@{'/view/' + ${blogPost.id}}" th:text="${blogPost.title}"></a></h5>
                    <p class="card-text" th:text="${blogPost.getSnippet()}"></p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>