body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #505050;
  line-height: 1.8;
  background-image: url("images/bgimg-4.JPG");
}

/* Parallax Scrolling! */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo Full height) */
.bgimg-1 {
  background-image: url('images/bgimg-5.JPG');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("images/bgimg-1.JPG");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("images/bgimg-2.JPG");
  min-height: 400px;
}

/* BG image for users page */
.bgimg-4 {
  background-image: url('images/bgimg-4.JPG');
  min-height: 100%;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

.kmtable {
    padding: 5px;
}

.w3-halfwide {
    letter-spacing: 2px;
}

.div-right {
    position: right;
}