<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<!-- Navbar (sit on top) -->
<div th:replace="fragments :: navBar"></div>

<div th:if="${param.logout}" class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">
        You have been successfully logged out.
    </span>
</div>

<div class="w3-display-middle">
    <a href="/">return home</a>
</div>

</body>
</html>