<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
    <div th:replace="fragments :: navBar"></div>

    <div class="w3-content w3-container w3-padding-64">
    <form method="post" action="/signup">
        <fieldset>
            <legend><h3 class="w3-center">Create a username and password for your fan account</h3></legend>

            <div>
                <input type="text" name="username" placeholder="username" th:attr="value = ${username}" required>
                <span><p th:text="${username_error}" class="error"></p></span>
            </div>

            <div>
                <input type="password" name="password" placeholder="password" required>
                <span><p th:text="${password_error}" class="error"></p></span>
            </div>

            <div>
                <input type="password" name="passwordconfirm" placeholder="confirm password" required>
                <span><p th:text="${passwords_match}" class="error"></p></span>
            </div>

            <div><input type="submit" value="Sign me up!"></div>

            <div>Already a fan? <a href="/login">Log in here!</a></div>
        </fieldset>
    </form>
    </div>

</body>

</html>