<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>
    <div><h1>This is the homepage!</h1></div>

    <!-- TODO: access user data with thymeleaf -->

    <!--        <div>-->
    <!--            <fieldset>-->
    <!--                <legend>Here are all the fans!</legend>-->
    <!--                <table class="table">-->
    <!--                    <tr th:each="user : ${users}">-->
    <!--                        <td th:text="${user.getFullName()}"></td>-->
    <!--                    </tr>-->
    <!--                </table>-->
    <!--            </fieldset>-->
    <!--        </div>-->

    <div th:if="${first_name}">
        <p th:text="'Hello, ' + ${first_name} + '!'"></p>
    </div>

    <div th:replace="fragments :: navigation"></div>

</body>

</html>