<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body>

<!-- Navbar (sit on top) -->
<div th:replace="fragments :: navBar"></div>

<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
        <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">KENNY MANESS</span>
    </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">ABOUT ME</h3>
    <p class="w3-center"><em>Music Producer, Web Developer, Dungeon Master</em></p>
    <p>I have created a fictional "personal" website/blog, which I can use to practice web development and display publicly as a portfolio.
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa
        qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <div class="w3-row">
        <div class="w3-col m6 w3-center w3-padding-large">
            <p><b><i class="fa fa-user w3-margin-right"></i>Kenny Maness</b></p><br>
            <img src="images/kenny-portrait.JPG" class="w3-round w3-image" alt="Photo of Me" width="500" height="333">
        </div>

        <!-- Hide this text on small devices -->
        <div class="w3-col m6 w3-hide-small w3-padding-large">
            <p>Welcome to my website. I am lorem ipsum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
    <p class="w3-large w3-center w3-padding-16">I'm really good at:</p>
    <p class="w3-halfwide"><i class="fa fa-music w3-wide"></i>Music Production</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:90%">90%</div>
    </div>
    <p class="w3-halfwide"><i class="fa fa-laptop w3-wide"></i>Web Development</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:85%">85%</div>
    </div>
    <p class="w3-halfwide"><i class="fa fa-book w3-wide"></i>Dungeons & Dragons</p>
    <div class="w3-light-grey">
        <div class="w3-container w3-padding-small w3-dark-grey w3-center" style="width:75%">75%</div>
    </div>
</div>

<div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">45</span><br>
        Songs Published
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">16,000+</span><br>
        Streams Per Week
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">10+</span><br>
        Months In Web Development
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">1</span><br>
        Certification Obtained
    </div>
</div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span>
    </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64" id="portfolio">
    <h3 class="w3-center">MY MUSIC</h3>
    <p class="w3-center">
        <em>Here are some of the projects that I've published over the years.<br>
        Click on the images to make them bigger</em>
    </p><br>

    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <div class="w3-row-padding w3-center">
        <div class="w3-col m3">
            <img src="images/album-1.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Dreamwaves EP">
        </div>

        <div class="w3-col m3">
            <img src="images/album-2.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Lost Transmissions">
        </div>

        <div class="w3-col m3">
            <img src="images/album-3.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Coordinates">
        </div>

        <div class="w3-col m3">
            <img src="images/album-4.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Tell Me (That You Still Care)">
        </div>
    </div>

    <div class="w3-row-padding w3-center w3-section">
        <div class="w3-col m3">
            <img src="images/album-5.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="From Stockholm To Seattle">
        </div>

        <div class="w3-col m3">
            <img src="images/album-6.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Everything Was Completely Silent">
        </div>

        <div class="w3-col m3">
            <img src="images/album-7.png" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Somna">
        </div>

        <div class="w3-col m3">
            <img src="images/album-8.jpeg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="My Shiny Teeth And Me">
        </div>
    </div>

    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
        <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption" class="w3-opacity w3-large"></p>
        </div>
    </div>

    <!-- Buttons for external links to music -->
    <div class="w3-row-padding w3-center w3-section">
        <div class="w3-half m3">
            <form>
                <button type="submit" class="w3-button w3-padding-large w3-light-grey" style="margin-top:64px" formaction="https://open.spotify.com/artist/39qTRjqEX07GVBbJ9LPPGe" formtarget="_blank">
                    <i class="fa fa-spotify fa-fw w3-xlarge w3-margin-right"></i>LISTEN ON SPOTIFY
                </button>
            </form>
        </div>

        <div class="w3-half m3">
            <form>
                <button type="submit" class="w3-button w3-padding-large w3-light-grey" style="margin-top:64px" formaction="https://music.apple.com/us/artist/kenny-maness/1296686372" formtarget="_blank">
                    <i class="fa fa-apple fa-fw w3-xlarge w3-margin-right"></i>LISTEN ON APPLE MUSIC
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container">
    <div class="w3-display-middle">
        <span class="w3-xxlarge w3-text-white w3-wide">CONTACT</span>
    </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
    <h3 class="w3-center">WHERE YOU CAN FIND ME</h3>
    <p class="w3-center"><em>I'd love to hear from you!</em></p>

    <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m4 w3-container">
            <img src="images/map.PNG" class="w3-image w3-round" style="width:100%">
        </div>
        <div class="w3-col m8 w3-panel">
            <div class="w3-large w3-margin-bottom">
                <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>St. Louis, MO<br>
                <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>+1 (618) 555-1234<br>
                <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i>kenneth.l.maness@gmail.com<br>
                <i class="fa fa-facebook fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i><a href="https://www.facebook.com/kennethlewismaness">Facebook</a><br>
                <i class="fa fa-instagram fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i><a href="https://www.instagram.com/kenny.maness/">Instagram</a><br>
                <i class="fa fa-twitter fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i><a href="https://twitter.com/kenny_maness">Twitter</a><br>
                <i class="fa fa-bandcamp fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i><a href="https://kennymaness.bandcamp.com/">Bandcamp</a><br>
                <i class="fa fa-linkedin fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i><a href="https://www.linkedin.com/in/kenneth-maness-61784219a/">LinkedIn</a><br>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
<!--    <div class="w3-xlarge w3-section">-->
<!--        <i class="fa fa-facebook-official w3-hover-opacity"></i>-->
<!--        <i class="fa fa-instagram w3-hover-opacity"></i>-->
<!--        <i class="fa fa-twitter w3-hover-opacity"></i>-->
<!--        <i class="fa fa-linkedin w3-hover-opacity"></i>-->
<!--    </div>-->
</footer>

</body>
</html>