<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>

<body>

<div th:replace="fragments :: navigation"></div>

<div th:if="${#lists.isEmpty(users)}">
<h2>Sorry, there are no users to display at this time.</h2>
</div>

<div th:if="${not #lists.isEmpty(users)}">
    <h2>Here are the users.</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Username</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.getFullName()}"></td>
            <td th:text="${user.getUsername()}"></td>
        </tr>
    </table>
</div>

</body>

</html>